<div class='container'>  
  <h1>Créer un événement</h1>
  <%= form_tag url_for(action: 'update'), method: "PUT" do %>
    <div class='form-group'>
      <%= label_tag 'Date de début :' %>
      <%= select_date @event.start_date, prefix: :start_date, class: 'form-control"' %>
    </div>
    <div class='form-group'>
      <%= label_tag 'Durée :'%>
      <%= text_field_tag 'duration', @event.duration, class: 'form-control'  %>
    </div>
    <div class='form-group'>
      <%= label_tag "Titre de l'événement :"%>
      <%= text_field_tag 'title', @event.title, class: 'form-control'%>
    </div>
    <div class='form-group'>
      <%= label_tag "Lieu :"%>
      <%= text_field_tag 'location', @event.location, class: 'form-control'%>
    </div>
    <div class='form-group'>
      <%= label_tag "Description de l'événement"%>
      <%= text_area_tag(:description, @event.description, size: "24x6", class: 'form-control') %>
    </div>
    <div class='form-group'>
      <%= label_tag "Prix(euros) :"%>
      <%= number_field(:event, :price, in: 0..1000, step: 1) %>
    </div>
      <%= submit_tag "Modifier mon événement ", class: 'btn btn-dark' %>
    <% end %>
</div>